path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: {{hostvars['el-instance']['ansible_facts']['default_ipv4']['address'] }}
discovery.seed_hosts: ["{{ ansible_facts['default_ipv4']['address'] }}"]
node.name: node-a
cluster.initial_master_nodes: 
   - node-a
